<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>British voyager</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/99a73375c2.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Metrophobic&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/css/product.css">



</head>

<body>
  <%- include('partials/navbar') %>
    <div class="cart_mini">
      <div class="mini_align">
        <img src="/images/1/Black/no_bg.png" alt="" class="mini-cartImg">
        <p class="mini_para">British Voyager Ascend</p><span class="mini_para ">KD 45000</span>
      </div>
      <div>
        <div class="dropdown">
          <button class="btn  dropdown-toggle" id="dropdownMenuButton1" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Small
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
        <button class="btn-primary btn Add-miniCart ms-2">ADD TO
          CART</button>
        <button class="btn-primary btn Buy-miniCart ms-2">BUY NOW</button>
      </div>
    </div>

    <!-- product details start -->

    <div class="main-product">
      <div class="product-left">
        <div class="img-wrap">
          <img onclick="imageSelector('<%=product.id%>','<%=color%>',1)"
            src="/images/<%=product.id%>/<%=color%>/<%=product.id%>1_sq.jpg" alt="">
          <img onclick="imageSelector('<%=product.id%>','<%=color%>',2)"
            src="/images/<%=product.id%>/<%=color%>/<%=product.id%>2_sq.jpg" alt="product-image">
          <img onclick="imageSelector('<%=product.id%>','<%=color%>',3)"
            src="/images/<%=product.id%>/<%=color%>/<%=product.id%>3_sq.jpg" alt="product-image">
          <img onclick="imageSelector('<%=product.id%>','<%=color%>',4)"
            src="/images/<%=product.id%>/<%=color%>/<%=product.id%>4_sq.jpg" alt="product-image">
          <img onclick="imageSelector('<%=product.id%>','<%=color%>',5)"
            src="/images/<%=product.id%>/<%=color%>/<%=product.id%>5_sq.jpg" alt="product-image">
          <img onclick="imageSelector('<%=product.id%>','<%=color%>',6)"
            src="/images/<%=product.id%>/<%=color%>/<%=product.id%>6_sq.jpg" alt="product-image">
          <img onclick="imageSelector('<%=product.id%>','<%=color%>',7)"
            src="/images/<%=product.id%>/<%=color%>/<%=product.id%>7_sq.jpg" alt="product-image">
        </div>
        <div class=" main-image"><img id="main_img" src="/images/<%=product.id%>/<%=color%>/<%= product.id %>1.jpg"
            alt="product image"></div>
      </div>
      <div class="product-right">
        <h3>
          <%= product.name %>
        </h3>
        <span class="my-1">
          <img src="/images/review star.png" alt="">
          <img src="/images/review star.png" alt="">
          <img src="/images/review star.png" alt="">
          <img src="/images/review star.png" alt="">
          <img src="/images/review star.png" alt="">
          <p class="product-reviewpara d-inline">33 review</p><br>
        </span>
        <p class="d-inline para-price me-2">Selling price KD 45000/-</p> <span class="offer-span">SAVE 56%</span>
        <span class="d-block mb-3 size-para">(inclusive all taxes) </span>
        <p>COLOR</p>
        <div class="color-selector mb-3">
          <div id="Black" class="color-black color-circle" onclick="productto('<%=product.id%>','Black')"></div>
          <div id="Darkgray" class="color-darkgray color-circle" onclick="productto('<%=product.id%>','Darkgray')">
          </div>
          <div id="Silver" class="color-silver color-circle" onclick="productto('<%=product.id%>','Silver')"></div>
          <div id="Powder" class="color-powder color-circle" onclick="productto('<%=product.id%>','Powder')"></div>

        </div>
        <div class="d-flex justify-content-between size-para ">
          <p>Size</p>
          <p>Size Chart</p>
        </div>


        <div class="size-button d-flex justify-content-evenly mb-3">
          <button class="btn-primary btn-size">Small</button>
          <button class="btn-primary btn-size selected">Medium</button>
          <button class="btn-primary btn-size">Large</button>
        </div>
        <button id="cart-button" class="btn-addtocart btn-cart d-block mb-2" data-product-id="<%= product.id %>">ADD TO
          CART</button>
        <button onclick="checkoutto('<%= product.id%>')" class="btn-buynow btn-cart d-block">BUY NOW</button>
        <p class="mt-5 product-desc">
          <%=product.desc%>
        </p>
        <div class="prod-desc-properties-main">
          <div class="prod-desc-properties">

            <div class="prod-desc-properties-img">
              <img src="/images/dualwheels.png" alt="">
            </div>
            <div class="prod-desc-properties-data">
              <p class="prod-desc-properties-data-heading">Dual Wheels</p>
              <p class="prod-desc-properties-data-para">
                Safari's whisper wheels offer quiet and effortless maneuverability in every direction.</p>
            </div>

          </div>
          <div class="prod-desc-properties">

            <div class="prod-desc-properties-img">
              <img src="/images/zipper.png" alt="">
            </div>
            <div class="prod-desc-properties-data">
              <p class="prod-desc-properties-data-heading">Anti-theft Zipper</p>
              <p class="prod-desc-properties-data-para">
                Dual coil security zipper makes it difficult to break open providing an added layer of security.</p>
            </div>

          </div>
          <div class="prod-desc-properties">

            <div class="prod-desc-properties-img">
              <img src="/images/shell.png" alt="">
            </div>
            <div class="prod-desc-properties-data">
              <p class="prod-desc-properties-data-heading">Unbreakable Polycarbonate Shell</p>
              <p class="prod-desc-properties-data-para">
                Made with 100% virgin polycarbonate, this lightweight yet strong shell can withstand any journey</p>
            </div>

          </div>
          <div class="prod-desc-properties">
            <div class="prod-desc-properties-img">
              <img src="/images/handle.png" alt="">
            </div>
            <div class="prod-desc-properties-data">
              <p class="prod-desc-properties-data-heading">Telescopic Handle</p>
              <p class="prod-desc-properties-data-para">
                Our multi-stop telescopic handle is adjustable, making it suitable for all customer heights.</p>
            </div>

          </div>
        </div>
        <div class="prod-dimension-size mt-4">
          <p class="prod-dimension-size-heading">Size and Dimensions</p>
          <p class="prod-dimension-size-data-para">Small- Dimension: 59 x 40 x 27 CM, Capacity: 49 L, Weight: 3 Kgs</p>
          <p class="prod-dimension-size-data-para">Medium- Dimension: 69 x 49 x 31 CM, Capacity: 83 L ,Weight: 3.5 Kgs
          </p>
          <p class="prod-dimension-size-data-para"> Large- Dimension: 79 x 57 x 34 CM, Capacity: 125 L ,Weight: 6.1 Kgs
          </p>
          <hr>
        </div>
        <div class="prod-dimension-size mt-4">
          <p class="prod-dimension-size-heading">Imported/Manufactured by</p>
          <p class="prod-dimension-size-data-para">Imported/Manufactured by: Manufactured by Safari Industries (India)
            LtdAddress: 302-303, A Wing, The Qube, Sir Mathuradas Vasanji Rd, Marol, Andheri East, Mumbai, Maharashtra
            400059Country of Origin: IndiaNet Quantity: 1</p>
          <hr>
        </div>
        <!-- <div class="product-pincode">
          <p class="product-pincode-heading">Enter Delivery Pincode</p>
          <div class="pincode-button">
            <input class="pincode-input w-100" type="text" placeholder="Enter  Pincode">
            <button class="btn button"> check</button>
          </div>
        </div> -->
      </div>
    </div>
    <!-- product details end -->

    <!-- image banner -->
    <div class="image-container"><img class="mb-4" src="/images/image banner.png" alt=""><img
        src="/images/imagebanner2.png" alt=""></div>

    <!-- customer review start -->
    <!-- <div class="container-border">
      <div class="customer-main">
        <div class="customer-review ">
          <div class="d-flex justify-content-between">
            <h5>Customer Reviews</h5> <button class="btn-primary btn-size ">Write a Review</button>
          </div>
          <div class="customer-graphmain">
            <div class="first-star">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <p>Based on 126 reviews</p>
            </div>

            <div class="total-stars">
              <div><img src="/images/veracutsomer.png" alt=""></div>
              <div class="customer-staralign">
                <div class="first-star">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <div class="first-star">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <div class="first-star">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <div class="first-star">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <div class="first-star">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
              <div class="progress-bar">
                <div class="w3-border">
                  <div class="w3-grey"></div>
                </div>
                <div class="w3-border">
                  <div class="w3-grey"></div>
                </div>
                <div class="w3-border">
                  <div class="w3-grey"></div>
                </div>
                <div class="w3-border">
                  <div class="w3-grey"></div>
                </div>
                <div class="w3-border">
                  <div class="w3-grey"></div>
                </div>
              </div>
              <div class="progress-number">
                <p class="progress-para">89% (121)</p>
                <p class="progress-para">52% (121)</p>
                <p class="progress-para">32% (121)</p>
                <p class="progress-para">32% (121)</p>
                <p class="progress-para">32% (121)</p>
              </div>
              <div><img src="/images/veracutsomer.png" alt=""></div>

            </div>
          </div>
          <div class="dropdown">
            <button class="btn  dropdown-toggle" id="dropdownMenuButton1" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Small
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>

        <div class="customer-details">
          <hr>

          <div class="customer-firstpart">
            <div class="customer-alphabet"> <span>A</span></div>
            <div class="star-verified">
              <div class="customer-star">

                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>


              </div>
              <div class="customer-verified">
                <p class="span-verified">
                  Verified
                </p>
                <span>A.V</span>
              </div>
            </div>
            <div class="customer-date">
              <p>21/06/23</p>
            </div>
          </div>
          <div class="customer-response">
            <h5>Quality product</h5>
            <p>Best quality product with reasonable price. Material quality and finishing is excellent.</p>
          </div>
        </div>
        <div class="customer-details">
          <hr>

          <div class="customer-firstpart">
            <div class="customer-alphabet"> <span>A</span></div>
            <div class="star-verified">
              <div class="customer-star">

                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>


              </div>
              <div class="customer-verified">
                <p class="span-verified">
                  Verified
                </p>
                <span>A.V</span>
              </div>
            </div>
            <div class="customer-date">
              <p>21/06/23</p>
            </div>
          </div>
          <div class="customer-response">
            <h5>Quality product</h5>
            <p>Best quality product with reasonable price. Material quality and finishing is excellent.</p>
          </div>
        </div>
        <div class="customer-details">
          <hr>

          <div class="customer-firstpart">
            <div class="customer-alphabet"> <span>A</span></div>
            <div class="star-verified">
              <div class="customer-star">

                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>


              </div>
              <div class="customer-verified">
                <p class="span-verified">
                  Verified
                </p>
                <span>A.V</span>
              </div>
            </div>
            <div class="customer-date">
              <p>21/06/23</p>
            </div>
          </div>
          <div class="customer-response">
            <h5>Quality product</h5>
            <p>Best quality product with reasonable price. Material quality and finishing is excellent.</p>
          </div>
        </div>
        <div class="customer-details">
          <hr>

          <div class="customer-firstpart">
            <div class="customer-alphabet"> <span>A</span></div>
            <div class="star-verified">
              <div class="customer-star">

                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>


              </div>
              <div class="customer-verified">
                <p class="span-verified">
                  Verified
                </p>
                <span>A.V</span>
              </div>
            </div>
            <div class="customer-date">
              <p>21/06/23</p>
            </div>
          </div>
          <div class="customer-response">
            <h5>Quality product</h5>
            <p>Best quality product with reasonable price. Material quality and finishing is excellent.</p>
          </div>
        </div>
      </div>

    </div> -->
    <%- include('partials/footer') %>

</body>

<script>
  function decodeJwt(token) {
    const payloadBase64 = token.split('.')[1];
    const payloadDecoded = atob(payloadBase64);
    return JSON.parse(payloadDecoded);
  }

  function tokenValidation() {
    const token = getCookie('token'); // Get the token from the cookie

    // Get the token from localStorage (or wherever you have stored it)

    if (token) {
      const decodedToken = decodeJwt(token);

      const expirationTimestamp = decodedToken.exp * 1000; // Convert to milliseconds
      const currentTimestamp = Date.now();

      if (currentTimestamp > expirationTimestamp) {
        // Token has expired, handle it (e.g., redirect to login)
        return false;
        console.log('Token has expired');
      } else {
        // Token is still valid, continue with your application logic
        return true;
        console.log('Token is still valid');
      }
    } else {
      // Token not found, handle it (e.g., redirect to login)
      // If the token is not present
      return false;
      console.log('Token not found');
    }

  }

  document.addEventListener('DOMContentLoaded', () => {
    // Get the current URL
    const currentUrl = window.location.href;

    // Parse the URL to extract query parameters
    const urlParams = new URLSearchParams(window.location.search);

    // Access individual parameters by name
    const color = urlParams.get('color');

    const colorButton = document.getElementById(`${color}`)
    colorButton.classList.add('selected_color')

    const addToCartButton = document.getElementById('cart-button');
    const token = getCookie('token');
    addToCartButton.addEventListener('click', async () => {
      if (tokenValidation()) {
        const size = document.querySelector(".selected").innerText;
        const productId = addToCartButton.getAttribute('data-product-id');
        try {
          const response = await fetch('/add-to-cart', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${token}`, // Include your JWT token
            },
            body: JSON.stringify({ productId, size, token, color }),
          });
          if (response.ok) {
            alert('Product added to cart');
            // You can perform additional actions, like updating the cart icon
            getCart(token);
          } else {
            alert('Failed to add product to cart');
          }
        } catch (error) {
          console.error('Error adding product to cart:', error);
        }
      } else {
        alert("Please login");
        window.location.href = "/login"
      }
    });


    const sizeButtons = document.querySelectorAll('.btn-size');


    sizeButtons.forEach(button => {
      button.addEventListener('click', () => {
        // Remove the 'selected' class from all buttons
        sizeButtons.forEach(btn => {
          btn.classList.remove('selected');
        });

        // Add the 'selected' class to the clicked button
        button.classList.add('selected');
      })
    })
  });

  function imageSelector(productId, color, imageNumber) {
    console.log(`Clicked on image with ImageNumber: ${imageNumber}, productId: ${productId}, color = ${color}`);

    // Check that mainImage is correctly defined as a reference to the img element
    const mainImage = document.getElementById('main_img'); // Replace 'mainImage' with the actual ID of your img element

    // Check the generated image path
    const imagePath = `/images/${productId}/${color}/${productId}${imageNumber}.jpg`;
    console.log(`Updating image source to: ${imagePath}`);

    // Update the src attribute
    mainImage.src = imagePath;
  }

  const checkoutto = (id) => {
    const urlParams = new URLSearchParams(window.location.search);

    // Access individual parameters by name
    const color = urlParams.get('color');
    const size = document.querySelector(".selected").innerText;

    window.location.href = `/checkout/${id}?color=${color}&&size=${size}`
  }

  const productto = (id, color) => {
    window.location.href = `/product/${id}?color=${color}`
  }



</script>

</html>